# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# ========================
# Environments
# ========================
.env
.venv
env/
venv/
.conda/

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# Raw Data
# ========================
data/

# ========================
# Artifacts / Outputs
# ========================
artifacts/
runs/
logs/
checkpoints/
*.log


# Model weights
*.pth
*.pt
*.ckpt

# ========================
# Optuna
# ========================
*.db
*.sqlite
*.sqlite3
optuna_results/

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
